extends layouts/master

extends layouts/master

block content
    div.row-fluid(style="padding-top:20px;")
        div.widget.widget-padding.span12
            div.widget-header
                i.icon-group
                h5 批量导入
            div.widget-body
                div.dataTables_wrapper.form-inline
                    div.row-fluid(style="padding-bottom:10px;")
                        form.form-horizontal(action="/api/publish/excelin", enctype="multipart/form-data", method="POST")
                            div.span6
                                div.dataTables_length
                                    input.span5#excle(type="file", name="excle", style="margin-top:5px", required)
                                    sapn(style="color:red") #{error}
                                    button.btn.btn-sm.btn-primary(type="submit" style="margin-left:10px;") 上传

                            div.span6
                                div.dataTables_length
                -if(orders.length>0)
                  table.table.table-striped.table-bordered.dataTable#users
                    thead
                      tr
                        //th ID
                        th 订单编号
                        th 车型
                        th 车长
                        th 发货人
                        th 电话
                        th 发货地址
                        th 收货人
                        th 电话
                        th 收货地址
                        th 接货时间
                        th 到货时间
                        th 配载
                        th 超限
                        th 货物名称
                        th 重量
                        th 长*宽*高
                        th 距离
                        th 费用
                        th 油卡
                        th 备注

                    tbody
                      -for(var i=0; i<orders.length; i++)
                        tr

                          td #{orders[i].order_id}
                          td #{orders[i].truck_type}
                          td #{orders[i].truck}
                          td #{orders[i].from.name}
                          td #{orders[i].from.phone}
                          td #{orders[i].from.address}
                          td #{orders[i].to.name}
                          td #{orders[i].to.phone}
                          td #{orders[i].to.address}
                          td #{orders[i].time}
                          td #{orders[i].arrive_time}
                          td #{orders[i].peizai}
                          td #{orders[i].chaoxian}
                          td #{orders[i].cargo}
                          td #{orders[i].mass}
                          td #{orders[i].size}
                          td #{orders[i].size}
                          td #{orders[i].size}
                          td #{orders[i].youka}
                          td #{orders[i].remark}

            -if(orders.length>0)
              div.widget-footer
                p.btn #{count}条记录
                button.btn.btn-primary(type="button" onclick="submitform()" style="margin-left:50px;") 提交发布